absl-py==1.3.0
accelerate==0.11.0
aiofiles==0.8.0
aiohttp==3.8.3
aiosignal==1.3.1
altair==4.1.0
altgraph==0.17
anyio==3.6.2
app==0.0.1
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.6.0
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==20.3.0
auto-py-to-exe==2.8.0
autopep8==1.6.0
backcall==0.2.0
base58==2.1.0
bcrypt==4.0.1
beautifulsoup4==4.9.3
bleach==3.3.0
blindspin==2.0.1
blinker==1.4
bom-open==0.4
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.2.1
cachy==0.3.0
certifi==2021.10.8
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.9
cleo==0.8.1
click==8.0.3
click-aliases==1.0.1
click-completion==0.5.1
click-help-colors==0.5
click-spinner==0.1.8
clikit==0.6.2
colorama==0.4.4
config==0.5.0.post0
contourpy==1.0.6
crashtest==0.3.1
cryptography==38.0.4
cycler==0.11.0
dalle2==1.0.11
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==4.1.6
easypost==7.1.1
Eel==0.12.4
emoji==0.5.0
entrypoints==0.3
et-xmlfile==1.1.0
fastapi==0.88.0
ffmpy==0.3.0
filelock==3.0.12
Flask==2.2.3
Flask-SQLAlchemy==3.0.3
flatbuffers==22.12.6
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gast==0.4.0
gevent==22.10.2
gevent-websocket==0.10.1
gitdb==4.0.5
GitPython==3.1.13
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gradio==3.13.0
greenlet==2.0.2
grpcio==1.51.1
h11==0.12.0
h5py==3.7.0
heroku==0.1.4
html5lib==1.1
httpcore==0.15.0
httptools==0.4.0
httpx==0.23.1
huggingface-hub==0.8.1
idna==3.3
importlib-metadata==5.1.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.7.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jmespath==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras==2.11.0
keyring==21.8.0
kiwisolver==1.4.4
lark-parser==0.7.2
lazy-object-proxy==1.4.3
libclang==14.0.6
linkify-it-py==1.0.3
lockfile==0.12.2
loguru==0.5.3
Markdown==3.3.4
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.2
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==0.8.4
msgpack==1.0.2
multidict==6.0.2
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.2.0
numpy==1.21.4
oauthlib==3.2.2
openai==0.10.5
openpyxl==3.0.9
opt-einsum==3.3.0
orjson==3.8.3
packaging==23.0
pandas==1.3.4
pandas-stubs==1.2.0.39
pandocfilters==1.4.3
paramiko==2.12.0
parso==0.8.1
pastel==0.2.1
patsy==0.5.3
peewee==3.14.1
pefile==2019.4.18
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pkginfo==1.7.0
poetry==1.1.4
poetry-core==1.0.2
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.15.1
psutil==5.9.1
psycopg2==2.9.5
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.16.0
pydantic==1.10.2
pydeck==0.6.1
pydub==0.25.1
Pygments==2.7.4
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==1.7.1
pylev==1.3.0
pylint==2.6.0
PyNaCl==1.5.0
pyngrok==5.0.2
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.17.3
python-dateutil==2.8.2
python-decouple==3.7
python-dotenv==0.15.0
python-multipart==0.0.5
pytz==2021.3
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.2
QtPy==1.9.0
raven==6.9.0
regex==2022.7.9
requests==2.26.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.9
sanic==22.6.0
sanic-routing==22.3.0
scipy==1.10.1
semver==2.13.0
Send2Trash==1.5.0
shellingham==1.4.0
six==1.16.0
smmap==3.0.5
sniffio==1.3.0
soupsieve==2.2.1
SQLAlchemy==2.0.4
sqlparse==0.4.3
starlette==0.22.0
statsmodels==0.13.5
story==0.23.0
story-hub==0.2.0
storyscript==0.25.7
streamlit==0.76.0
template==0.7.6
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
terminado==0.9.2
testpath==0.4.4
texttable==1.4.0
tokenizers==0.12.1
toml==0.10.2
tomlkit==0.7.0
toolz==0.11.1
torch==1.13.0
torchvision==0.14.0
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
transformers==4.20.1
twilio==6.52.0
typing_extensions==4.3.0
tzdata==2022.7
tzlocal==2.1
uc-micro-py==1.0.1
urllib3==1.26.7
uvicorn==0.20.0
validators==0.18.2
virtualenv==20.4.2
watchdog==2.0.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.2.3
whichcraft==0.6.1
widgetsnbextension==3.5.1
win32-setctime==1.0.3
wrapt==1.12.1
xerox==0.4.1
yarl==1.8.2
zipp==3.11.0
zope.event==4.5.0
zope.interface==5.2.0
