/* Add this to your existing style.css file */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;

}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0069d9;
    border-color: #0062cc;
}

.alert-info {
    background-color: #f8f9fa;
    border-color: #c8ced3;
    color: #495057;
}

.alert-info h4 {
    font-weight: 700;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #c8ced3;
    font-weight: 700;
    color: #333;
}

.card-body {
    padding: 20px;
}

.card-primary {
    border-color: #007bff;
}

.card-primary .card-header {
    background-color: #007bff;
    color: #fff;
}

.card-success {
    border-color: #28a745;
}

.card-success .card-header {
    background-color: #28a745;
    color: #fff;
}

.relative-improvement {
    font-weight: 700;
    font-size: 24px;
}

.relative-improvement.high {
    color: #28a745;
}

.relative-improvement.medium {
    color: #ffc107;
}

.relative-improvement.low {
    color: #dc3545;
}

.significance-level {
    font-weight: 700;
    font-size: 24px;
}

.significance-level.high {
    color: #28a745;
}

.significance-level.medium {
    color: #ffc107;
}

.significance-level.low {
    color: #dc3545;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.logo-container img {
    max-width: 80px;
    height: auto;
}

form {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

label {
    font-weight: bold;
}

input {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}