<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A/B Test Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="logo-container">
  <a href="/">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
  </a>
</div>

    <h1>A/B Test Calculator</h1>
    <div class="container">
        <div class="alert alert-info">
        <h4 class="alert-heading">What is conversion rate?</h4>
        <p>
          Conversion rate is the percentage of visitors to a website or landing page who take a desired action, such as making a purchase or filling out a form. It is calculated by dividing the number of conversions by the number of visitors and multiplying by 100.
        </p>
        <hr>
        <h4 class="alert-heading">How is A/B test winner determined?</h4>
        <p>
          In an A/B test, the control group is compared against the variation group to determine which one leads to a higher conversion rate. The winner is typically determined based on statistical significance, which measures the likelihood that the difference in conversion rates between the two groups is not due to chance.
        </p>
        <hr>
  <form method="POST" action="/" class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="control-visitors">Control Visitors:</label>
      <input type="number" name="control-visitors" id="control-visitors" class="form-control" required value="{{ control_visitors_input }}">
    </div>

    <div class="form-group">
      <label for="control-conversions">Control Conversions:</label>
      <input type="number" name="control-conversions" id="control-conversions" class="form-control" required value="{{ control_conversions_input }}">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="variation-visitors">Variation Visitors:</label>
      <input type="number" name="variation-visitors" id="variation-visitors" class="form-control" required value="{{ variation_visitors_input }}">
    </div>

    <div class="form-group">
      <label for="variation-conversions">Variation Conversions:</label>
      <input type="number" name="variation-conversions" id="variation-conversions" class="form-control" required value="{{ variation_conversions_input }}">
    </div>
  </div>

  <div class="col-sm-12">
    <button type="submit" id="submit-btn" class="btn btn-primary btn-block">Calculate</button>

  </div>
</form>

<div id="loading" style="display:none;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

{% if control_conversion_rate is defined and variation_conversion_rate is defined %}
<div class="mt-5">
  <h2>Results</h2>
  <div id="results-section" class="mt-5">
  <div class="row">
    <div class="col-sm-6 mb-3">
      <div class="card" style="background-color: #F5F5F5;">
        <div class="card-body">
          <h5 class="card-title" style="color: #00305e;">Control</h5>
          <p class="card-text">Conversion Rate: {{ control_conversion_rate }}%</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <div class="card" style="background-color: #F5F5F5;">
        <div class="card-body">
          <h5 class="card-title" style="color: #1e96eb;">Variation</h5>
          <p class="card-text">Conversion Rate: {{ variation_conversion_rate }}%</p>
        </div>
      </div>
    </div>

   <div class="col-sm-6">
      <div class="card {% if relative_improvement > 0 %}bg-success{% else %}bg-danger{% endif %}">
        <div class="card-header" style="color: #495057;">Relative Improvement</div>
        <div class="card-body">
          <h5 class="card-title"style="color: #fafafa;">{{ relative_improvement }}%</h5>
        </div>
      </div>
    </div>


    <div class="col-sm-6 mb-3">
      <div class="card" style="background-color: #F5F5F5;">
        <div class="card-body">
          <h5 class="card-title">Statistical Significance</h5>
          <p class="card-text">{{ significance_level }}%</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-6">
      <canvas id="conversion-chart"></canvas>
    </div>
    <div class="col-sm-6">
      <h2>Explanation</h2>
      <p id="explanation-text"></p>
      {% if openai_explanation is defined %}
      <script>
        const explanationText = document.getElementById("explanation-text");
        const explanation = "{{ openai_explanation }}";
        let i = 0;
        setInterval(() => {
          if (i < explanation.length) {
            explanationText.innerHTML += explanation.charAt(i);
            i++;
          }
        }, 40);
      </script>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<script>
  // Scroll down to the results section
  window.location.href = "#results-section";
</script>

<script>
  var conversionChart = new Chart(document.getElementById('conversion-chart'), {
    type: 'polarArea',
    data: {
      labels: ['Control', 'Variation'],
      datasets: [
        {
          label: 'Conversion Rate',
          backgroundColor: ['#00305e', '#1e96eb'],
          data: [{{ control_conversion_rate }}, {{ variation_conversion_rate }}]
        }
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        display: true,
        position: 'bottom'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            callback: function(value, index, values) {
              return value + '%';
            }
          },
          scaleLabel: {
            display: true,
            labelString: 'Conversion Rate'
          }
        }],
        xAxes: [{
          ticks: {
            maxRotation: 0,
            autoSkip: false
          }
        }]
      }
    }
  });
</script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#submit-btn').click(function() {
      $('#loading').show(); // show the loading element
    });
  });
</script>

</body>

<footer class="mt-5">
    <p>&copy; 2023 <a href="https://www.buysafe.com"> A/B Test Calculator</a></p>
</footer>
</html>